





body {
  font-family: 'Segoe UI', Arial, sans-serif;
  background: url('./assets/fundo.jpeg') no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
}


div {
  background: rgba(255, 255, 255, 0.8);
  max-width: 800px;
  margin: 40px auto;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.09);
  padding: 42px;
}

h1 {
  text-align: center;
  color: blue;
  margin-bottom: 32px;
}

form {
  display: flex;
  gap: 12px;
  margin-bottom: 32px;
}

input[type="text"], input[type="date"], select {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;;
}
button[type="submit"], .task-item button {
  background: gray;
  transition: background 0.3s;
}
button[type="submit"]:hover, .task-item button:hover {
  background: white;
}


.task-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 5px solid gray;
}
.task-item span{
  flex: 1;
  
}

.task-item span.completed {
  text-decoration: line-through;
  color: #888;

}

.aviso {
  text-align: center;
  color: #888;
  font-style: italic;
  margin-top: 20px;
}

.tasklist-title {
  text-align: center;
  color: #1976D2;      /* Azul igual ao título principal */
  margin-bottom: 16px; /* Espaço abaixo do título */
  font-size: 1.5rem;   /* Tamanho de fonte maior */
  font-weight: bold;
}
